* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e7e7e7;
}

/* position the start list */
#position {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 15px 5px grey;
}

#main {
  width: 100%;
  height: auto;
  border: 1px solid #d3d3d3;
}

#today {
  font-size: 20px;
  padding: 15px;
  margin-left: 14px;
}

#form {
  display: flex;
  justify-content: center;
  column-gap: 3px;
  align-items: center;
  width: 100%;
  height: 45px;
  border-top: 1px solid #d3d3d3;
}

#add {
  font-size: 18px;
  font-style: italic;
  width: 85%;
  height: 37px;
  padding-left: 15px;
  border: none;
  margin-left: 3px;
}

#add:focus {
  outline: none;
  background-color: #d3d3d3;
}

#addBtn {
  width: 15%;
  padding: 5px;
  font-size: 20px;
  border: none;
  background-color: #ffff;
}

#addBtn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* List */
#list {
  width: 100%;
  min-height: 50px;
  border-top: 1px solid #d3d3d3;
  background-color: #d3d3d3;
}

#clearBtn {
  width: 100%;
  height: 45px;
  font-size: 18px;
  color: #a3a3a3;
  border: none;
  border-top: 1px solid #d3d3d3;
}

#clearBtn:hover {
  cursor: pointer;
  transform: scale(1.005);
  color: black;
}

/* Items list with JavaScript */
.divCont {
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 10px;
  column-gap: 15px;
}

.descrption {
  width: 80%;
  height: 35px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  border: none;
}

.descrption:focus {
  outline: none;
  font-weight: bold;
}

/* Tooltip EDIT button */
.tooltip {
  height: 37px;
  width: 45px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: move;
  border: none;
  background-color: #ffff;
}
